<div ng-app="mainForm" ng-controller="mainController" class="main-container">
	<div class="main-column left">
		<div class="column-header user-name">
			{{user}}
		</div>
		<ul class="lists">
			<li class="list element" ng-repeat="list in lists" ng-click="$parent.list=list.name" list>
				{{list.name}}
			</li>
		</ul>
		<a class="add-button element" add-button>
			<span>Add List</span>
			<input type="text">
		</a>
	</div>
	<div class="main-column center" ng-controller="listController">
		<div class="column-header">
			{{list}}
		</div>
		<ul class="tasks">
			<li class="task element" ng-repeat="task in $parent.tasks">
				{{task.name}}
			</li>
		</ul>
		<a class="add-button element" add-button ng-if="list">
			<span>Add Task</span>
			<input type="text">
		</a>
	</div>
	<div class="main-column right">
		<div class="column-header"></div>
		<a class="add-button element" add-button>
			<span>Add Subtask</span>
			<input type="text">
		</a>
	</div>
</div>